<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Equipoise</title>
  </head>
  <body>
    <header>
      <a href="/">
          <img src="/images/brand.png">
      </a>
      <a id="userIcon" href=""><img src="/images/userIcon.png"></a>
      
    </header>
    <main>
      
      {{{body}}}
      <script src="js/userIcon.js"></script>
    </main>
  </body>
</html>