
<div class="userFormCon">
  <form id="loginForm" class="userForm">
    <span class="loginH">Login</span>
    <div class="form-group">
      <label for="username" class="text-color">Username</label>
      <input id="username" type="text" placeholder="Type your username" autocomplete="username"/>
    </div>
    <div class="form-group">
      <label for="password" class="text-color">Password</label>
      <input id="password" type="password" placeholder="Password is required" autocomplete="current-password"/>
    </div>
    <span class="forgot">forgot password?</span>
    <div class="loginCont">
      <button type="submit" id="loginBtn" class="userBtn">LOGIN</button>
    </div>
    <div class="">
      <span>Or Sign Up Using</span>
    </div>
      <div>
<span><a href="/signup">SIGN UP</a></span>
    </div>
  </form>
</div>

<script src="/javaScript/signup.js"></script>