<div class="cartHeader">
<h1 id="cartHeading">Your Cart </h1>
<p>put total here</p>

<h2>My Items</h2>
</div>
<div id="cartEvent">
{{#each cart.items}}
{{>cartCard}}
{{/each}}
</div>
<script src="/js/cartChange.js"></script>

